{cover_export_enabled, true}.
{coveralls_coverdata, "_build/test/cover/eunit.coverdata"}.
{coveralls_service_name, "travis-ci"}.

{deps, [
  {foil, ".*",
    {git, "https://github.com/lpgauth/foil.git", {tag, "0.1.2"}}},
  {shackle, ".*",
    {git, "https://github.com/lpgauth/shackle.git", {tag, "0.6.2"}}}
]}.



{erl_opts, [
  % bin_opt_info,
  debug_info
]}.
